body{background-color: rgb(225, 144, 226);
    color: white;
 
    padding: 0;
    margin: 0;
}



.topnav,a{
    text-transform: capitalize;
text-decoration: none;
padding: 100px;
}
.button{
    height: 40px;
    width: 120px;
    border-radius: 15px ;
    font-size: 22px;
    color: rgb(242, 9, 9);
border: white;}

.h1{
    color: aliceblue;
    font-size: 40px;
    position: relative;
    left: 150px;
    text-transform: uppercase;
  font-family: "Momo Trust Display", sans-serif;
  word-spacing: 10px;
}
.h2{ color: aliceblue;
    font-size: 40px;
    position: relative;
    left: 150px;
    text-transform: uppercase;
  font-family: "Momo Trust Display", sans-serif;
  word-spacing: 10px;
}
.h3{ color: rgb(206, 65, 86);
    font-size: 50px;
    position: relative;
    left: 150px;
    text-transform: uppercase;
  font-family: "Momo Trust Display", sans-serif;
  word-spacing: 17px;
}

.producst{
    height: 40px;
    width: 100px;
position: relative;
left: 150px;
border-radius: 15px;
background-color: rgb(207, 19, 19);
color: azure;
}
.how1{    height: 40px;
    width: 170px;
position: relative;
left: 150px;
border-radius: 20px;
color: brown;
background-color: aliceblue;
border: azure;
}

.main-ice{
    height: 600px;
    width: 600px;
    background-color: rgb(223, 109, 193);
    border-radius: 300px;
    position: relative;
    left: 900px;
    bottom: 450px;
    z-index: 300;
    
}
.img{
    position: relative;
    left: 150px;
    top:50px ;

}


.date1{
    font-size: 50px;
    color: brown;
    position: relative;
    bottom: 500px;
left: 650px;
  font-family: "Momo Trust Display", sans-serif
}

.date2{
    font-size: 50px;
    color: brown;
    position: relative;
    bottom: 500px;
left: 650px;
  font-family: "Momo Trust Display", sans-serif
}


.pera{
    font-size: px;
   
    position: relative;
    bottom: 530px;
left: 660px;
}



.pera2{
    font-size: px;
   
    position: relative;
    bottom: 530px;
left: 650px;
}


.last{
    position: relative;
    bottom: 550px;
    left: 100px;

}

.span5{

}




.a1{
    color: aliceblue;
}

.a2{
    color: aliceblue;
}

.a3{
    color: aliceblue;
}

.a4{
    color: aliceblue;
}
.active{ font-size: 20px;
    color: rgb(241, 7, 7);
}




.nw{background-color: aliceblue;
    color: brown;

}